<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment color="primary">
    <ion-segment-button (click)="createNewSiteDetails()">
      Create New Site
    </ion-segment-button>
    <ion-segment-button (click)="retrieveSiteDetails()">
      Continue at Site
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="site">
    <ion-item (click)="navigate(1)">
      <ion-icon color="primary" name="checkmark-circle" item-start *ngIf="site.siteDetails;else uncheckedTemplate"></ion-icon>
      <ion-label>Site Details</ion-label>
    </ion-item>
    <ion-item (click)="navigate(2)">
      <ion-icon color="primary" name="checkmark-circle" item-start *ngIf="site.beforeWork;else uncheckedTemplate"></ion-icon>
      <ion-label>Before Work</ion-label>
    </ion-item>
    <ion-item (click)="navigate(3)">
      <ion-icon color="primary" name="checkmark-circle" item-start *ngIf="site.ppe;else uncheckedTemplate"></ion-icon>
      <ion-label>Personal And Equipment details</ion-label>
    </ion-item>
    <ion-item (click)="navigate(4)">
      <ion-icon color="primary" name="checkmark-circle" item-start *ngIf="site.complete;else uncheckedTemplate"></ion-icon>
      <ion-label>Completion Report</ion-label>
    </ion-item>
  </div>
  <ng-template #uncheckedTemplate>
    <ion-icon color="primary" name="checkmark-circle-outline" item-start></ion-icon>
  </ng-template>
</ion-content>