<!--
  Generated template for the SiteDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Site Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Vendor Name</ion-label>
      <ion-select [(ngModel)]="info.vendorName">
        <ion-option [value]="vendor" *ngFor="let vendor of vendors">{{ vendor }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Site Name</ion-label>
      <ion-input type="text" [(ngModel)]="info.siteName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Site ID</ion-label>
      <ion-input type="text" [(ngModel)]="info.siteId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>District</ion-label>
      <ion-input type="text" [(ngModel)]="info.district"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type of work</ion-label>
      <ion-select [(ngModel)]="info.typeOfWork">
        <ion-option [value]="typeOfWork" *ngFor="let typeOfWork of typeOfWorks">{{ typeOfWork }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab mini>
      Save
    </button>
  </ion-fab>
</ion-content>